@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import "./reset.scss"; // *,

body {
  background: #1b1a22;

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a,
  div,
  span {
    font-family: "Raleway", sans-serif;
  }
}

section.blog-index {
  margin: auto;
  padding: 0 2rem;
  max-width: 960px;
  p {
    color: #f0f0f0;
    line-height: 1.5;
  }

  .blog-index-card {
    background: #2a2935;
    margin-top: 1.5rem;
    padding: 2rem 1.5rem;

    a {
      font-size: 1.25rem;
      color: #e31b6d;
      line-height: 1.5;

      &:hover {
        color: #337ab7;
      }
    }
  }
}

.blog-post-container {
  padding: 0 1rem 3rem;

  * {
    font-family: "Raleway", sans-serif;
  }

  margin: auto;
  margin-top: 3rem;
  max-width: 768px;

  h1,
  h2,
  h3 {
    color: #d7d7d7;
  }

  .blog-info {
    h1 {
      font-size: 2.25rem;
      margin-bottom: 0.75rem;
      color: #f0f0f0;
      font-weight: 700;
      letter-spacing: 1px;
    }

    h2 {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #cecece;
    }
  }

  .blog-post-content {
    * {
      color: #d7d7d7;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 700;
      margin-top: 0.5rem;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 700;
      margin-top: 0.5rem;
    }

    h3 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
      font-weight: 700;
      margin-top: 0.5rem;
    }

    p {
      font-size: 1.15rem;
      line-height: 1.6;
      margin-bottom: 1rem;
    }

    ul {
      margin-bottom: 1rem;
    }

    ul li {
      line-height: 1.5;
      list-style: circle;
      margin-left: 1.5rem;
      font-size: 1.15rem;
      margin-bottom: 0.25rem;
    }

    img {
      margin-bottom: 1rem;
    }

    p.img-caption {
      margin-top: -1.5rem;
      font-style: italic;
      font-size: 1rem;
      margin-bottom: 2rem;
      margin-left: 3rem;
    }
  }
}
